/*
	TNELAT CSS

	#Table of Contents
	- General
	- Components
	  - Button
	  - Jumbotron
	- Navigation
	- Header
	- Main
	- Pages
	  - Home
	  - Login
	  - Signup
	  - Profile
	- Forms
	- Footer
	
	#Colors
	  Primary Colors: #EE4B3E
	  Background: #F2F2F3
	  Titles/Imporant: #1FDA9A
	  Imporant Divs/Spans/Big Blocks: #EE4B3E
	  Sub headers, less important:#E9BC1B
	  Less important divs/spans/blocks: #F5EACD
	  All general text should be black
*/

/* General */
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif !important;
	background: #F2F2F3;
}
.pagewidth {
	max-width: 1000px;
	margin: 0 auto; 
}
@media (min-width: 600px) {
	.pagewidth {
		width: 80%;
	}
}

/* Components */
/* - Button */
.btn {
	max-width: 150px;
	color: #F2F2F3;
	border-radius: 5px;
	padding: 1em;
	background-color: #EE4B3E;
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	transition: 0.15s;
	display: block;
}
.btn:hover {
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
}
a.btn{
	text-decoration: none;
	margin:auto;
}
a.btn:hover{
	background-color: #C33C31 !important;
	color: #F2F2F3;
}

/* - Jumbotron */
.jumbotron {
	font-size: 1em;
	text-align: center;
	background-color: #cccccd;
	padding-bottom: 5px;
	border-radius: 5px;
}

@media (min-width: 600px) {
	.jumbotron {
		font-size: 2em;
	}
}

/* Navigation */
nav {
	background-color: #EE4B3E;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	font-size: 1.2em !important;
	max-width: 1000px;
	padding: 0px 25px 0px 25px;
}
nav ul {
	margin: 0;
	width: 100%;
	padding: 0;
}
nav li {
	list-style: none;
	display: inline-block;
	transition: 0.15s ease;
	vertical-align: top;
}
nav li:hover {
	background-color: #F2F2F3;
}

nav a{
	display: block;
	text-decoration: none;
	color: #F2F2F3;
	padding: 15px 20px 15px 20px;
}
.navlink {
	transition: 0.15s ease;
}
.navlink:hover {
	color: red;
}
menu {
	margin: 0;
	padding: 0;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.bold {
	font-weight: bold;
}
.small {
	font-size: 1em;
}
#right-menu {
	float: right;
}

.message {
	display: block;
	padding-bottom: 30px;}

@media (min-width: 600px) {
	nav {
		top: 1em;
		border-radius: 5px;
	}
	#right-menu {
		display: block;
	}
}

/* Header */
.home {
	text-align: center;
	color: #F2F2F3;
	padding: 5em 0;
	background-image: url("../resources/whiteboard.jpg");
	background-attachment: fixed;
	background-size: cover;

}
header div {

	height: 300px;
	border-radius: 50%;
	background-color: #EE4B3E;
	margin: 0 auto;
	-webkit-box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
}
header h1 {
	padding-top: 30%;
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 0;
}
@media (min-width: 600px) {
	header div {
		width: 400px;
		height: 400px;
	}
	header h1 {
		padding-top: 30%;
		font-size: 7em;	
	}
}

.foot_holder {
	position: absolute;
	bottom: 25px;
	left: 0;
	width:100%;
}

sidebar {
	display: inline-block;
	width: 20%;
	position: relative;
	float: left;
}

/* Main */
.profile_display {
	position: relative;
	min-height: 450px;
}
main {
	padding-top: 3em;
	min-height: 450px;
}
@media (min-width: 600px) {
	.profile_display {
	}
}

/* Pages */
/* - Home */
#details {
	background-color: #F2F2F3;
	min-height: 600px;
}
#details img {
	display: block;
	margin: 0 auto 2em auto;
	height: 80%;
	width: 80%;
	max-height: 270px;
	max-width: 270px;
	border-radius: 100%;
	border: 0.75em solid white;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
}
#details div {
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 2em;
}
#details div article {
	margin: 1.5em 0;
	padding: 1em;
}
@media (min-width: 600px) {
	#details div {
		float: left;
		width: 33%;
	}
}
/* - Login */
#login {
	padding: 1em;
	background-color: #F2F2F3;
	text-align: center;
	margin-top: 10em;
	background-color: #cccccd;
	border-radius: 5px;

}

.login {
	padding: 1em;
	background-color: #F2F2F3;
	text-align: center;
	margin-top: 6em;
	background-color: #cccccd;
	border-radius: 5px;
	position: relative;
}

#loginsubmit.btn {
	margin: 0 auto;
}

/* - Sign Up */
#signup {
	margin-top: 10em;
	padding: 1em;
	background-color: #F2F2F3;
	margin-top: 10em;
	background-color: #cccccd;
	border-radius: 5px;
}

/* - Profile */
#profile .jumbotron {
	margin-top: 2em;
}
#profile a {
	float: right;
	margin: 0 auto;
}
.review {
	min-width: 150px;
	width: 33%;
	margin-top: 1em;
	text-align: center;
	float: left;
	border-radius: 5px;
}
div.review:hover {
	color: #F2F2F3;
	background-color: #EE4B3E;
}
div.review article{
	font-size: 4em;
}
img.profile_pic {
	display: inline-block;
	float: left;
	border-radius: 100%;
}


/* Forms */
fieldset {
	border: 0;
	padding-top: 15px;
	text-align: center;
}
fieldset legend {
	font-size: 2em;
	color: #EE4B3E;
}

fieldset input {
	width: 15em;
	height: 2em;
	font-size: 15px;
	display: block;
	margin: 5px auto 10px auto;
}

#rating ul {
	margin: 0;
	padding: 0;
}
#rating li{
	list-style: none;
}
#rating li p {
	display: none;
}
.emoji {
	font-size: 3em;
	transition: 0.2s;
}
span.emoji:hover {
	font-size: 5em;
}
@media (min-width: 600px) {
	#rating li{
		display: inline-block;
	}
}
#submit {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.small_header {
	margin-bottom: 0px;
}

.error {
	color: red;
	font-weight: bold;
}

.profile { 
	overflow:auto;
	padding: 10px;
	border-bottom: 1px solid grey;
	display: block;
}

a.profile {
	color: inherit;
}

.profile .details {
	float: left; 
	text-align: left;
	margin-left: 15px;
}
.profile_static {
	background-color: #A2A2A6;
}
.profile_link{
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	transition: 0.2s;
}
.profile_link:hover {
	background-color: #A2A2A6;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0);
}

/* Footer */
footer {
	padding: 1em 0;
	text-align: center;
	background-color: #EE4B3E;
	color: #EE4B3E;
}

h4 {
	margin: 0px;
}

h5 {
	margin: 0px;
}

hr {
	display: block;
	margin: 2px;
}
