/*
	TNELAT CSS

	#Table of Contents
	- General
	- Components
	  - Jumbotron
	- Navigation
	- Header
	- Sections
	  - Actions
	- Footer
	
	#Colors
	  Primary Colors: #EE4B3E
	  Background: #F2F2F3
	  Titles/Imporant: #1FDA9A
	  Imporant Divs/Spans/Big Blocks: #EE4B3E
	  Sub headers, less important:#E9BC1B
	  Less important divs/spans/blocks: #F5EACD
	  All general text should be black
*/

/* General */
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #F2F2F3;
}

/* Components */
/* - Button */
.btn {
	color: #F2F2F3;
	border-radius: 5px;
	padding: 1em;
	background-color: #EE4B3E;
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	transition: 0.15s;
}
a.btn{
	text-decoration: none;
}
a.btn:hover{
	background-color: #C33C31;
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0);
}
/* - Jumbotron */
.jumbotron {
	text-align: center;
}

/* Navigation */
nav {
	background-color: #EE4B3E;
	border-radius: 5px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0.6);
}
nav ul {
	margin: 0;
}
nav li {
	padding: 1em;
	list-style: none;
	display: inline-block;
	transition: 0.15s;
}
nav li:hover {
	background-color: #F2F2F3;
	color: #EE4B3E;
}
nav a li{
	text-decoration: none;
	color: #F2F2F3;
}
#brand {
	font-weight: bold;
}
#right-menu {
	float: right;
	display: none;
}
@media (min-width: 600px) {
	nav {
		top: 1em;
		width: 80%;
	}
	#right-menu {
		display: block;
	}
}

/* Header */
header {
	text-align: center;
	color: #F2F2F3;
	background-image: url("../resources/whiteboard.jpg");
	background-size: cover;
	padding: 5em 0;
}
header div {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #EE4B3E;
	margin: 0 auto;
	-webkit-box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
	box-shadow: 0 10px 3px 2px rgba(0,0,0,0.6);
}
header h1 {
	padding-top: 30%;
	font-size: 3em;
	margin-bottom: 0;
}
@media (min-width: 600px) {
	header div {
		width: 400px;
		height: 400px;
	}
	header h1 {
		padding-top: 30%;
		font-size: 5em;	
	}
}

/* Sections */
/* - Actions */
#actions {
	background-color: #F2F2F3;
	min-height: 300px;
}
#actions div {
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 2em;
}
#actions div article {
	margin: 1.5em 0;
	padding: 1em;
}
@media (min-width: 600px) {
	#actions div {
		float: left;
		width: 33%;
	}
}

/* Footer */
footer {
	padding: 1em 0;
	text-align: center;
	background-color: #EE4B3E;
	color: #F2F2F3;
}